* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: block;
    overflow-x: hidden;
    background-color: #A9E190;
    position: relative;
    z-index: 999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
    color: #134611;
}

a,
p,
h4,
h5,
h6 {
    color: rgb(87, 87, 87);
}

.container {
    width: 100vw;
    display: grid;
    gap: 23px;
    display: block;
    position: relative;
}

header {
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 0px rgb(0, 255, 0);
}

.logo {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 5%;
}

.logo img {
    height: 60%;
    margin-top: 20px;
    position: relative;
}

header h1 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
    letter-spacing: 0.1rem;
}

.nav-bar {
    margin-right: 10px;
}

header a {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 10px;
}

header a:hover {
    color: #271F30;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #A9E190, #DBF4AD);
}

.hero-image {
    height: 100%;
    width: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    height: 100%;
    width: auto;
}

.content {
    max-width: 50%;
    margin-right: 10%;
}

.content h1 {
    font-size: 6rem;
    margin: 1.2rem 0px;
    background: linear-gradient(to right, #134611, #134611, rgb(4, 238, 101), #134611, #134611)no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: moveBG 1s ease-in-out infinite;

}

@keyframes moveBG {
    to {
        background-position: 95%;
    }
}


.content p {
    font-size: 1.4rem;
}

.content button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #271F30;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.content button:hover {
    background-color: #134611;
}

.about-product {
    height: 90vh;
    max-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #A9E190;
}

.text {
    max-width: 50%;
    margin-left: 5%;
    text-align: center;
}

.text h2 {
    font-size: 3rem;
    margin: 12px 0px;
}

.text p {
    font-size: 1.2rem;
    line-height: 1.4;
}

ul {
    list-style: none;
    margin: 18px 0px;
    line-height: 1.8;
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #271F30;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #134611;
}

.image {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 100%;
    width: auto;
}

.showcase-product {
    background-color: #DBF4AD;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0px;
    justify-content: center;
}

.showcase-product h2 {
    text-align: left;
    font-size: 3rem;
    margin-left: 5%;
    margin-top: 20px;
}

.product-gallery {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-item {
    text-align: center;
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.product-item:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.005);
    transition: all 0.3s ease-in-out;
}

.product-item img {
    height: 70%;
    width: auto;
}

.product-item h3 {
    font-size: 1.4rem;
    margin: 10px 0px;
}

.product-item p {
    font-size: 1.2rem;
    color: rgb(87, 87, 87);
}

.contact {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A9E190;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

form input,
form textarea {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    border: none;
    min-width: 60vw;
}

form button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #271F30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    min-width: 60vw;
}

@media (max-width:780px) {
    * {
        padding: 0;
        margin-right: 0;
    }

    header {
        width: 100vw;
        font-size: 2rem;
        background: transparent;
        z-index: 999;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 8vh;
        z-index: inherit;
        visibility: visible;
    }

    header a {
        font-size: 1.3rem;
        padding: 0px 5px;
        visibility: visible;
    }

    .hero-image img {
        height: 50%;
        width: auto;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .content h1 {
        font-size: 4rem;
    }

    .content p {
        font-size: 1.2rem;
    }

    .image img {
        height: auto;
        min-height: 50%;
        width: 100%;
    }

    .showcase-product {
        background-color: #DBF4AD;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0px;
        justify-content: center;
    }

    .product-item {
        text-align: center;
        height: 50vh;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
        .product-item img {
            height: 40%;
            width: auto;   }
}